<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> 
    </ion-buttons>
    <ion-title style="font-weight: 400;">Decks</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>    
  <!-- <ion-item lines="none">
    <ion-icon name="document" slot="start"></ion-icon>
    <ion-label>
      <ion-text><h2>Camsur Techno Fair.pdf</h2></ion-text>
        <small style="color: #999">123 kb</small>  
    </ion-label> 
    
  </ion-item>    -->
  <!--<ion-list color="light">
    <ion-item *ngIf="material" lines="none">
      <ion-thumbnail slot="start">
        <ion-img src="{{ material.url }}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <p> {{ material.fileName }} </p>
        <ion-text color="medium">
          <small> {{ material.size }} kb </small>
        </ion-text>
      </ion-label>
      <ion-button (click)="onDownloadFile(material)" fill="clear" slot="end">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon color="primary" name="cloud-download" size="large"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>-->
    <ion-label *ngIf="!hasEvents(events)">
      <p style="font-size: 16px; color: black; font-weight: 350;">
      No materials found
      </p> 
    </ion-label> 
      <ion-list *ngIf="events" color="light" no-padding>  
        <ion-item lines="full">
          <ion-label>
            <p *ngIf="events.length === 1" style="color: black; font-size: 16px; font-weight: 350;">{{ events.length }} event found</p>
            <p *ngIf="events.length > 1" style="color: black; font-size: 16px; font-weight: 350;">{{ events.length }} events found</p>
            <p style="font-size: 12px; font-weight: 300;">Select an event to upload files</p>
          </ion-label>
        </ion-item> 
        <ion-item class="item" lines="full" *ngFor="let event of events" (click)="navigateToEventMaterialsPage(event)" button>
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
          <ion-thumbnail slot="start">
            <ion-img src="{{ baseUrl + event.event_image_path }}"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <p style="color: black; font-size: 16px; font-weight: 350;"> 
              {{ event.event_title }}
            </p>
            <p style="font-size: 12px; font-weight: 300;" [innerHTML]="event.event_description"> 
              {{ event.event_description }}
            </p>  
          </ion-label>  
          <ion-icon slot="end" name="arrow-forward" mode="ios" size="small"></ion-icon> 
        </ion-item> 
      </ion-list>

      <ion-list *ngIf="!events" color="light" no-padding>  
        <ion-item lines="full">
          <ion-label>
            <p><ion-skeleton-text animated style="width: 35%"></ion-skeleton-text></p>
            <p><ion-skeleton-text animated style="width: 55%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item> 
        <ion-item class="item" lines="none" *ngFor="let skeletonItem of skeletonItems">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <p style="color: black; font-size: 16px; font-weight: 350;"> 
               <ion-skeleton-text animated style="width: 82.5%"></ion-skeleton-text>
            </p>
            <p style="font-size: 12px; font-weight: 300;"> 
              <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
            </p>  
          </ion-label>   
        </ion-item> 
      </ion-list>


        <!-- <ion-item lines="none">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>
            <h3 style="color: #555"><b>Camsur Techno Fair.pdf</b></h3> 
            <small style="color: #999">123 kb</small>  
          </ion-label> 
        </ion-item>  
        <ion-item lines="none">
          <ion-icon name="play-circle" slot="start"></ion-icon>
          <ion-label>
            <h3 style="color: #555"><b>Techno Fair Presentation.mp4</b></h3> 
            <small style="color: #999">49.1 mb</small>         
          </ion-label> 
        </ion-item> 
        <ion-item lines="none">
          <ion-icon name="image" slot="start"></ion-icon>
          <ion-label>
            <h3 style="color: #555"><b>Flowchart.png</b></h3> 
            <small style="color: #999">12 kb</small>    
          </ion-label> 
        </ion-item>     -->  

      <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" padding-bottom padding-end>
        <ion-fab-button color="light" (click)="onChooseFile()"> 
          <ion-icon color="primary" name="add" large></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="medium" (click)="onDownloadFile()">
          <ion-icon name="star"></ion-icon>
        </ion-fab-button> -->
      <!-- </ion-fab>  -->
</ion-content>
