.send-message-item {
  --border-width: 1px 1px 1px 1px;
  --border-radius: 10px; 
} 
 
.sender-chatbox-background {
    background: rgb(140, 166, 252);
    --color: white;
    // margin-right: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}

.receiver-chatbox-background {
    background: rgb(189, 189, 189);
    --color: white;
    // margin-left: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}

.avatar-size{
    width: 40px;
    height: 40px;
}

.no-overlap {
    position: block;
    margin-bottom: 20px;
}
