<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> 
    </ion-buttons>
    <ion-title style="font-weight: 400;">Chat Messages</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="chatType" value="general">
    <ion-grid no-padding>
      <ion-row>
        <ion-col no-padding>
          <ion-segment-button value="general"> 
            <ion-label style="font-weight: 400; ">General</ion-label>
          </ion-segment-button>          
        </ion-col>
        <ion-col no-padding>
          <ion-segment-button value="direct-messages"> 
            <ion-label style="font-weight: 400;">Direct Messages</ion-label>
          </ion-segment-button>          
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-segment>

<ion-content padding #content> 
  
  <div [ngSwitch]="chatType">
    
    <div *ngSwitchCase="'general'"> 

  <div *ngIf="groupChatMessages">

    <ion-list lines="none" *ngFor="let groupChatMessage of groupChatMessages">

      <div *ngIf="user.user_id !== groupChatMessage.user_id">
        <ion-item class="no-overlap">
          <div slot="start">
            <ion-avatar class="avatar-size">
              <ion-img src="{{ profilePicDir + groupChatMessage.profile_path }}"></ion-img> 
            </ion-avatar>
          </div>

          <ion-row>
            <ion-col>
              <ion-label>
                <p>{{groupChatMessage.firstname}}</p>
              </ion-label>

              <div class="receiver-chatbox-background">
                <ion-label text-wrap>
                  <p>{{groupChatMessage.message}}</p>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
 
        </ion-item>
      </div>



      <div *ngIf="user.user_id === groupChatMessage.user_id"> 
        <ion-item class="no-overlap">
          <div slot="end" class="sender-chatbox-background">
            <ion-label text-wrap>
              {{groupChatMessage.message}}
            </ion-label>
          </div>
          <div slot="end">
            <ion-avatar class="avatar-size" *ngIf="groupChatMessage.profile_path">
              <ion-img src="{{ profilePicDir + groupChatMessage.profile_path }}"></ion-img> 
            </ion-avatar>
            <ion-avatar class="avatar-size" *ngIf="!groupChatMessage.profile_path">
              <ion-img src="assets/images/avatar.png"></ion-img> 
            </ion-avatar>
          </div>
        </ion-item> 
      </div>
    </ion-list>
  </div>

      <!-- <ion-list *ngIf="groupChatMessages" no-margin no-padding> 
        
          <ion-item *ngFor="let message of groupChatMessages" lines="none" no-margin no-padding>
            <div slot="end" *ngIf="user.user_id === message.user_id">
              <ion-avatar slot="start" *ngIf="!hasUserProfilePic(message.profile_path)">
                <ion-img src="assets/images/avatar.png"></ion-img> 
              </ion-avatar>
              <ion-avatar slot="start" *ngIf="hasUserProfilePic(message.profile_path)">
                <ion-img src="{{ profilePicDir + message.profile_path }}"></ion-img> 
              </ion-avatar>
              <ion-label>
                <h2>{{ message.firstname }} {{ message.lastname }}</h2>
                <p>{{ message.message }}</p>
              </ion-label>
            </div>

            <div slot="start" *ngIf="user.user_id !== message.user_id">
              <ion-avatar slot="start" *ngIf="!hasUserProfilePic(message.profile_path)">
                <ion-img src="assets/images/avatar.png"></ion-img> 
              </ion-avatar>
              <ion-avatar slot="start" *ngIf="hasUserProfilePic(message.profile_path)">
                <ion-img src="{{ profilePicDir + message.profile_path }}"></ion-img> 
              </ion-avatar>
              <ion-label>
                <h2>{{ message.firstname }} {{ message.lastname }}</h2>
                <p>{{ message.message }}</p>
              </ion-label>
            </div>
          </ion-item>   

      </ion-list>

      <ion-list *ngIf="groupChatMessages.length === 0" no-margin no-padding>
        <ion-item *ngFor="let skeletionItem of skeletonItems" lines="none" no-margin no-padding>
          <ion-avatar slot="start">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> 
          </ion-avatar> 
          <ion-label>
            <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </ion-label>
        </ion-item> 
      </ion-list>   -->
    </div>




    <div *ngSwitchCase="chatType">
      <!-- <h1>Direct Messages</h1> -->
    <div *ngSwitchCase="'direct-messages'">
      <ion-list *ngIf="participants" no-margin no-padding>
        <ion-item *ngFor="let participant of participants" lines="none" no-margin no-padding (click)="navigateToDirectMessagePage(participant)">
          <ion-avatar slot="start" >
            <ion-img src="assets/images/avatar.png"></ion-img> 
          </ion-avatar>
          <ion-label>
            {{ participant.firstname }} {{ participant.lastname }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    </div>
  </div>
</ion-content>
<!-- <ion-footer>
  <div [ngSwitch]="chatType" padding>
    <div *ngSwitchCase="'general'">
      <!-- <h1>General</h1>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="10"> 
            <ion-item class="send-message-item" lines="none">
              <ion-input class="send-message-item" type="text" name="" [(ngModel)]="groupChatMessageText" placeholder="Type a message" #input></ion-input>
            </ion-item>
            
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" expand="full" (click)="sendGroupChatMessage()" shape="round">Send</ion-button>
            <ion-icon name="paper-plane" (click)="sendMessage()" button>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-icon> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'direct-messages'">
       <h1>Direct Messages</h1> 
    </div>
  </div>
</ion-footer> -->

<ion-footer>

  <ion-item>
    <div slot="start">
      <ion-textarea [(ngModel)]="groupChatMessageText" placeholder="Type a message..."></ion-textarea>
    </div>
    <div slot="end">
      <ion-button fill="clear" (click)="sendGroupChatMessage()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </div>
  </ion-item>

</ion-footer>
